/PrimeiroPrograma/target/
/HoraDoSistema/target/
/IdiomaSistema/target/
/ResolucaoTela/target/
/OlaMundoSwing/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX2/nbproject/private/
/OlaMundoJavaFX2/build/
/OlaMundoJavaFX2/dist/
